body {
  background:darkcyan;
}

/* #logo-container {
  color: #444444
} */
/* footer {
  background-color: darkgoldenrod;
} */
nav ul a {
  color: #444444;
}
nav a {
  color: #26A69A;
}
nav {
  margin-bottom: 30px;
}

.card-content {
  background-color: #f7ffe0;
}

h2 {
  font-family: system-ui;
    color: #95389e;
}

h3 {
  font-family: system-ui;
    color: #95389e;
    
}

h4 {
  font-family: system-ui;
    color: #95389e;
}

p {
  font-family: system-ui;

}

/* #apiCategory {
  padding: 5px;
}

#apiDifficulty {
  padding: 5px;
}
#mQuestion {
  margin: 15px;
  padding: 5px;
} */